 
@{
    ViewData["Title"] = "Outgoing";
}

<div class="card">
    <h5 class="card-title" id="tableTitle">@ViewData["card-title"]</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="selectionTable table table-striped table-bordered" style="width:100%" id="dataTable">
                    <thead>
                    <tr class="bg-dark text-white ps-2">
                    <th class="ps-3">Id</th>
                    <th class="ps-3">Department</th>
                    <th class="ps-3">TrackingCode</th>
                    <th class="ps-3">Title</th>
                    <th class="ps-3">Content</th>
                    <th class="ps-3">Request Type</th>
                    <th class="ps-3">Remarks</th>
                    <th class="ps-3">CreatedDate</th>
                     <th class="ps-3">Action</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cancel Forwarding</h5>
            </div>
            <div class="modal-body">
                <p>Would you like to cancel forwarding the document?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden"  id = "employeeId" value="@ViewData["employeeId"]" >
<input type="hidden" id = "documentId" >
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            loadDataTable(outgoingDocumentColumns)
        })
        
        $('#btnCancel').click(function (){
             alert('cancel')
        })
        
    </script>

}