@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
 
<div class="card auth">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <section>
                    <h6 style="font-weight: 600">
                        Forgot password confirmation
                    </h6>
                    <hr />
                     <p>
                         Please check your email to reset your password.
                     </p>
                </section>
            </div>

        </div>
    </div>
</div>