@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="card auth">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <section>
                    <h6 style="font-weight: 600">
                        Forgot password
                    </h6>
                    <hr />
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>
 
 