@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


 
  
<div class="card auth">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <h5>@ViewData["Title"]</h5>
                <section>
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                            <p>
                               Please check your email for confirmation
                            </p>
                        }
                        else
                        {
                            <p>
                                Please check your email to confirm your account.
                            </p>
                        }
                    }
                </section>
            </div>
             
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
      const quill = new Quill('#editor', {
        theme: 'snow'
      });
    </script>
    
        
}

 
