@page "/resetpassword"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="card auth">
  
     
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <section>
                    <form method="post">
                        <h6 style="font-weight: 600">
                            Reset password
                        </h6>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="Input.Code" type="hidden"/>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class=" mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" aria-required="true"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class=" mb-3">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn   btn-primary">Reset</button>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>
 
@section Scripts
{
    <script type="text/javascript">
      const quill = new Quill('#editor', {
        theme: 'snow'
      });
    </script>
    
        
}


